*{
    margin:0;
    padding:0;
}
input {
margin-left: 140px;
border-radius: 70px;
width: 500px;
height: 35px;
}
img {
 width: 350px;
 height: 300px;
 margin-left: 165px;
 margin-top: 100px;
}
body {
 background-color: white;
}
.button {
float: right;
background-color: lightblue;
height: 30px;
width: 65px;
margin-left: 40px;
border: 0px;
}
.languages {
margin-left: 160px;
font-size: 15px;
margin-top: 40px;
color:blue;
word-spacing:15px;
}
.web {
text-align: center;
margin-top: 700px;
font-weight: bold;
font-size: 15px;
}
.a {
color: red;
}
.images{  
    padding:5%;
    margin:-5%;
    margin-left: 60px;
}
.logoimage{
margin-left:2%;
padding:5%;
    height:10%;
    width:10%;
}
.left {
float: left;
word-spacing:15px;
}
.bar {
  width: 65%;
  margin-left: 140px;
}
